*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #151320;
}

html{
    scroll-behavior: smooth;
}

i{
    color: white;
}







button{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 3.5rem;
    border: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 20px 20px;
    gap: 0.65rem; /*0.6rem*/
    cursor: pointer;
    /*border: 1px solid red;*/

    z-index: 4;
    right: 54px;
}

button > div{
    background: white;
    height: 4px;
    width: 50%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}

.ani-menu div:first-child{
    transform: rotate(52deg);
    margin-left: 21%;
}

.ani-menu div:nth-child(2){
    opacity: 0;
}

.ani-menu div:last-child{
    transform: rotate(-52deg);
    margin-left: 21%;
}















/*.btn-menu{
    position: fixed;
    z-index: 3;
    width: 70px; 
    height: 55px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: whitesmoke;
    font-weight: bold;
    font-family: Arial;
    cursor: pointer;
    border-radius: 0px 0px 20px 20px;
    transition: 0.3s;

    right: 55px;
}
.fa-bars{
    font-size: 40px;
}
.btn-menu:hover{
    box-shadow: 0px 0px 15px #7E7EC6;
}*/

header{
    width: 180px;
    height: 330px;
    display: flex;
    position: fixed;
    background-color: #7E7EC6;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
    right: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in;
    z-index: 2;
}

nav{
    margin-top: 45px;
}

nav ul{
    display: table;
    text-align: center;

    /*border: 1px solid red;*/
}

nav li{
    padding: 10px 15px;
    border-radius: 5px 5px 5px 5px;
    list-style: none;
    cursor: pointer;
}
nav li:hover{
    background-color: black;
    animation: navegador 1s linear infinite;
    transition: 0.3s;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial;
}

.nav-activo{
    transform: translateY(0%);
}

@keyframes navegador{
    0%{
        box-shadow: 0px 0px 1px red;
    }
    10%{
        box-shadow: 0px 0px 13px red;
    }
    100%{
        box-shadow: 0px 0px 1px red;
    }
}

























.foto{
    max-height: 350px;
    min-width: 200px;
}

.inicio{ /*div contenedor de todo el inicio*/
    width: 100%;
    height: 100vh;
    /*los siguientes dos codigos sirven para centrar los elementos dentro de este div*/
    display: inline-block;
}

.title,.name{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: monospace;
    /*border: 5px solid red;*/
}

/* -------------------------------------------------------------------------- */
/* ---------------------- Efecto maquina de escribir ------------------------ */
/* -------------------------------------------------------------------------- */
.title{
    margin-top: 11%;
    margin-bottom: 2%;
    margin-left: 4%;
}

.name{
    margin-top: 3%;
    margin-left: 4%;
}

.maq1,.maq2{
    position: relative;
}

.maq1::after{
    content: "";
    border-left: 3px solid white;
    background-color: #151320;
    width: 100%;
    height: 100%;
    right: 0;  /*Para que empieze al final del texto*/
    position: absolute;

    animation: maqEsc 3s infinite alternate steps(14),
    parpadeo .5s infinite step-end alternate;
}

.maq2::after{
    content: "";
    border-left: 2px solid white;
    background-color: #151320;
    width: 100%;
    height: 100%;
    right: 0;  /*Para que empieze al final del texto*/
    position: absolute;

    animation: maqEsc 5s infinite alternate steps(29),
    parpadeo .5s infinite step-end alternate;
}

@keyframes maqEsc{
    from { /*Desde*/
        width: 100%;
    }
    to{ /*Hasta*/
        width: 0;
    }
}

@keyframes parpadeo{
    50% {border-color: transparent}
}

/* -------------------------------------------------------------------------- */
/* ----------------------------- Border Reinbow ----------------------------- */
/* -------------------------------------------------------------------------- */

.bordePhoto{
    width: 200px;
    height: 250px;
    margin: auto;
    /*border: outset 7px red;*/
    border-radius: 60px 0px 60px 0px;
    position: relative;
}

.bordePhoto::before,
.bordePhoto::after{
    content: '';
    position: absolute;
    background: linear-gradient(
        45deg, 
        #fb0094, 
        #0000ff, 
        #00ff00, 
        #ffff00, 
        #ff0000, 
        #fb0094, 
        #0000ff, 
        #00ff00, 
        #ffff00, 
        #ff0000);
    background-size: 400% 400%;
    width: 100%;
    height: 100%;    
    border-radius: 60px 0px 60px 0px;
    animation: animate-blurred 3s ease alternate infinite;
}

.bordePhoto::after{
    filter: blur(20px);
}

@keyframes animate-blurred{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    0%{
        background-position: 0% 50%;
    }
}


/* -------------------------------------------------------------------------- */
/* ---------------------------- Foto de inicio ------------------------------ */
/* -------------------------------------------------------------------------- */

.myImagen{
    width: 200;
    height: 250px;
    /* border: outset 7px red; */
    border-radius: 60px 0px 60px 0px;
    overflow: hidden;
    position: absolute;

    z-index: 1;
}

.foto{
    position: relative;
    top: 50%;
    left: 50%;

    /* mueve la mitad del alto de la imagen hacia arriba */
    /*--------- transform: translate(0%, -50%); ---------*/

    /* mueve la mitad del ancho de la imagen hacia la izquirda */
    /* ------- transform: translate(-50%, 0%); -------- */

    /********* esto centra la imagen dentro del div ********/
    transform: translate(-50%, -50%);
}






































h1{
    /*position: relative;*/
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    margin-top: 10px;
    font-family: Arial;
}

.about{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 20vh);
    grid-template-areas: "titulo-about titulo-about titulo-about titulo-about titulo-about"
                         "cont-foto2 cont-foto2 nom-car nom-car nom-car"
                         "cont-foto2 cont-foto2 parf-info parf-info parf-info"
                         "cont-foto2 cont-foto2 parf-info parf-info parf-info"
                         "cont-foto2 cont-foto2 parf-info parf-info parf-info";
    
}

.titulo-about{
    grid-area: titulo-about;
    /*font-size: 50px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-foto2{
    grid-area: cont-foto2;
    /*border: 1px solid red;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.foto2{
    width: 200px;
    height: 250px;
    /*margin-top: 10%;*/
    /*border: 1px solid red;*/

    border-radius: 60px 0px 60px 0px;
    overflow: hidden;
}

.nom-car,.parf-info{
    text-align: center;
    color: white;
    font-family: arial;
}

.cont-foto2,.nom-car,.parf-info{
    /*border: 1px solid yellow;*/
} 

.nom-car{
    grid-area: nom-car;
}

#nombre{
    font-size: 30px;
    margin-right: 25%;
}

#carrera{
    font-size: 20px;
    margin-right: 25%;
    color: gray;
}

.parf-info{
    grid-area: parf-info;
    display: flex;
    
    justify-content: center;
    padding-right: 24%;
    font-size: 20px;
    text-align: justify;
    line-height: 40px;
}

.parf-info span{
    margin-top: 5%;
}

/* -------------------------------------------------------------------------- */
/* ---------------------------- Botón de descarga --------------------------- */
/* -------------------------------------------------------------------------- */
.Cont-descarga{
    /*width: 200px;
    height: 60px;*/
    /*position: absolute;*/
    /*border: 1px solid red;*/

    /*left: 0; 
    right: 0;
    margin: auto;*/
    /*top: 60%;*/
    cursor:pointer;
    transition: 0.5s;
}

.fa-file-arrow-down{
    font-size: 25px;
}

.btn-descarga{
    position: relative;
    padding: 20px 30px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
    font-size: 13px;
    border: 2px solid transparent;
    transition: 0.5s;
    font-family: Arial;
    font-weight: bold;
    gap: 10px;
}

.btn-descarga:hover{
    border: 2px solid #fff;
}

.btn-descarga::before{
    content: '';
    position: absolute;
    inset: 0 8px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: 1s;
}

.btn-descarga::after{
    content: '';
    position: absolute;
    inset: 8px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: 1s;
}

.btn-descarga:hover::before{
    inset: 0 -12px;
    transform: skewY(15deg);
}

.btn-descarga:hover::after{
    inset: -12px 0;
    transform: skewX(15deg);
}

















































.skills h1, .portafolio h1, .contacto h1{
    padding-top: 20px;
}

/*.skills{
    
}*/

p{
    color: white;
    text-align: center;
}

.cont-skills{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px 20px;
    /*border: 1px solid red;*/
    font-family: arial;
}

.html,.css,.js,.php,.mysql{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /*border: 1px solid green;*/
}


.fa-html5,.fa-css3,.fa-js-square,.fa-php,.fa-mysql{
    font-size: 80px;
    transition: 0.5s;
}

.fa-mysql{
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    /*padding: 0 6px;*/
    max-height: 80px;
    min-width: 80px;
}

section div .html .fa-html5:hover{/*Se le pone color a cada icono*/
    color: orange;
    transition: 0.5s;
}

section div .css .fa-css3:hover{/*Se le pone color a cada icono*/
    color: blue;
    transition: 0.5s;
}

section div .js .fa-js-square:hover{/*Se le pone color a cada icono*/
    color: yellow;
    transition: 0.5s;
}

section div .php .fa-php:hover{/*Se le pone color a cada icono*/
    color: #7E7EC6;
    transition: 0.5s;
}

section div .mysql .fa-mysql:hover{/*Se le pone color a cada icono*/
    background-color: aqua;
    transition: 0.5s;
}

.cont-skills,.html,.css,.js,.php,.laravel{
    /*border: 2px solid orange;*/
}





























/*.portafolio{
    height: 550px;
}*/

/*.cont-portafolios{
    width: 100%;
    height: 405px;
    position: relative;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.port{
    width: 347px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.cont-img{
    width: 100%;
    height: 145px;
    position: absolute;

    background: var(--i);
    background-size: cover;
    border-radius: 7px 7px 7px 7px;
    overflow: hidden;
    transition: 0.5s;
}*/










.portafolio{
    padding: 20px 20px;
}

.container{
    /*border: 1px solid red;*/
    position: relative;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.box{
    /*border: 1px solid pink;*/
    position: relative;
    width: 397px;
    height: 220px;
    /*width: 347px;
    height: 200px;*/
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .content{
    position: absolute;
    inset: 15px; /*espacio entre el frame y la imagen*/
    background: #0d122c;
    border: 3px solid #070c23;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-size: cover;
}

.box::before,
.box::after{
    content: '';
    position: absolute;
    background: linear-gradient(315deg,#00ccff,#d400d4);
    inset: -120px 160px; /*tamaño del color del marco*/
    transition: 5s;
    filter: hue-rotate(calc(var(--i) * 120deg));
    animation: animate 8s linear infinite;
}

.box::after{
    background: linear-gradient(315deg,#ffeb3b,#e91e63);
    filter: hue-rotate(calc(var(--i) * 120deg));
    animation-delay: -2s;
}

.box:hover:before,
.box:hover:after{
    animation-play-state: paused;
    inset: -120px 140px; /*tamaño del color del marco*/
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box .stuffed-frame{
    position: absolute;
    inset: 3px;
    /*background: #0e1538;*/
    background: #151320;
    z-index: 1;
}

.box .content .photo-frame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    z-index: 3;
    pointer-events: none;
}

.content{
    height: 75%;
}















.box:hover .content{
    filter: blur(4px);
    transition: 0.5s;
}

.ver-accion,.ver-codigo{
    position: absolute;
    top: 35%;
    background-color: gray;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-family: Arial;
    transition: 0.5s;
}
.ver-accion{
    left: 12%;
}
.ver-codigo{
    right: 13%;
}

.box:hover .ver-accion{
    z-index: 3;
    transition: 0.5s;
}

.box:hover .ver-codigo{
    z-index: 3;
    transition: 0.5s;
}

.ver-accion:hover,.ver-codigo:hover{
    background-color: #7E7EC6;
}

.tecn-use{
    width: 100%;
    height: 30px;
    position: absolute;
    font-family: arial;
    top: 83%;
    left: 4%;
    z-index: 1;
}

.tecn-use span{
    position: relative;
    color: white;
    font-weight: bold;
    background-color: #151320;
    border-radius: 5px 5px 5px 5px;
    padding: 4px;
    top: 20%;
    margin-right: 20px;
}


.tecn-use span:hover{
    color: black;
    background-color: white;
}

.cont-portafolios,.cont-img,.tecn-use{
    /*border: 1px solid blue;*/
}













.contacto{
    height: 250px;
}

.correo, .celular, .linkedin{
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: arial;
    margin-top: 1.5%;
    text-decoration: none;
}

.contacto a:hover, .contacto i:hover{
    color: aqua;
}

.about,.skills,.portafolio,.contacto{
    width: 90%;
    margin: auto;
    margin-top: 25px;
    box-shadow: 0px 0px 10px white;
    border-radius: 15px 15px 15px 15px;
}













































@media screen and (max-width:1201px) {

}

@media screen and (max-width:1145px) {
    #nombre{
        margin-right: 20%;
    }
    
    #carrera{
        margin-right: 20%;
    }
    
    .parf-info{
        padding-right: 17%;
    }
    .parf-info span{
        margin-top: 0;
    }
}

@media screen and (max-width:1024px){

    .btn-menu{
        width: 60px; 
        height: 50px;
        right: 60px;
    }
    .fa-bars{
        font-size: 30px;
    }

    .box{ /*hace más grande la box del proyecto del portafolio*/
        /*height: 88%;*/
        /*gap: 25px;*/
        /*border: 1px solid red;*/
        width: 397px;
        height: 250px;
    }

    .content{ /*redice el tañamo de la imagen*/
        height: 63%;
    }
    .box:hover .content{
        filter: blur(0px);
    }

    .tecn-use{
        top: 69%;
    }

    .ver-accion,.ver-codigo{
        top: 81%;
        z-index: 3;
    }
}

@media screen and (max-width:985px) {
    .title{
        margin-top: 15%;
    }
}

@media screen and (max-width:928px) {
    #nombre{
        font-size: 27px;
    }
    
    #carrera{
        font-size: 18px;
    }
    
    .parf-info{
        font-size: 18px;
        line-height: 36px;
    }
}


@media screen and (max-width:858px) {
    /*.btn-menu{
        right: 50px;
    }*/

    button{
        width: 4rem;
        height: 3rem;
        gap: 0.55rem; /*0.65rem*/
    
        right: 49px;
    }
    
    
    header{
        width: 160px;
        height: 300px;
    }
    
    nav{
        margin-top: 40px;
    }
    
    nav a{
        font-size: 22px;
    }


    .title{
        margin-top: 20%;
    }
}

@media screen and (max-width:824px) {
    #nombre{
        margin-right: 16%;
    }
    
    #carrera{
        margin-right: 16%;
    }
    
    .parf-info{
        padding-right: 11%;
    }
}

@media screen and (max-width:742px) {
    h1{
        font-size: 40px;
    }
    
    #nombre{
        margin-right: 16%;
        font-size: 24px;
    }
    
    #carrera{
        margin-right: 16%;
        font-size: 17px;
    }
    
    .parf-info{
        padding-right: 11%;
        font-size: 17px;
        line-height: 30px;
    }

    .contacto{
        height: 230px;
    }
}

@media screen and (max-width:700px) {
    .about{
        grid-template-areas: "titulo-about titulo-about titulo-about titulo-about titulo-about"
                             "cont-foto2 cont-foto2 cont-foto2 cont-foto2 cont-foto2"
                             "cont-foto2 cont-foto2 cont-foto2 cont-foto2 cont-foto2"
                             "cont-foto2 cont-foto2 cont-foto2 cont-foto2 cont-foto2"

                             "nom-car nom-car nom-car nom-car nom-car"
                             "parf-info parf-info parf-info parf-info parf-info"
                             "parf-info parf-info parf-info parf-info parf-info";
    }

    /*.foto2{
        margin-top: 0;
    }*/

    .Cont-descarga{
        top: 75%;
    }
    
    #nombre{
        margin-right: 0;
        font-size: 30px;
    }
    
    #carrera{
        margin-right: 0;
        font-size: 21px;
    }
    
    .parf-info{
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        font-size: 20px;
    }
}

@media screen and (max-width:527px) {
    .title{
        margin-top: 28%;
    }

    .correo, .celular, .linkedin{
        margin-top: 6%;
        font-size: 20px;
    }
}

@media screen and (max-width:499px) {
    h1{
        font-size: 33px;
    }

    .title{
        margin-top: 35%;
    }
    .foto{
        max-height: 300px;
        min-width: 150px; 
    }
    .name{
        font-size: 20px;
        margin-top: 5%;
    }

    .bordePhoto,.foto2{
        width: 168px;
    }

    .fa-file-arrow-down{
        font-size: 20px;
    }
    
    .btn-descarga{
        padding: 20px 25px;
    }
}

@media screen and (max-width:480px) {
    .box::before,
    .box::after{
        inset: -120px 140px; /*tamaño del color del marco*/
    }
    
    .box:hover:before,
    .box:hover:after{
        inset: -120px 120px; /*tamaño del color del marco*/
    }
}










@media screen and (max-width:435px) {
    .title{
        margin-top: 40%;
    }
    #nombre{
        font-size: 21px;
    }
    
    #carrera{
        font-size: 15px;
    }
    .parf-info{
        font-size: 17px;
    }

    .box::before,
    .box::after{
        inset: -120px 120px; /*tamaño del color del marco*/
    }
    
    .box:hover:before,
    .box:hover:after{
        inset: -120px 100px; /*tamaño del color del marco*/
    }
    

    .correo, .celular, .linkedin{
        margin-top: 8%;
        font-size: 18px;
    }
}

@media screen and (max-width:400px) {
    .title{
        margin-top: 50%;
    }

    .tecn-use{
        top: 67%; /*69*/
    }

    .tecn-use span{
        font-size: 13px; /*16*/
    }

    .ver-accion,.ver-codigo{
        font-size: 13px; /*16*/
    }
    
}

@media screen and (max-width:384px) {
    .box::before,
    .box::after{
        inset: -120px 100px; /*tamaño del color del marco*/
    }
    
    .box:hover:before,
    .box:hover:after{
        inset: -120px 80px; /*tamaño del color del marco*/
    }

    .correo, .celular, .linkedin{
        font-size: 15px;
        margin-top: 10%;
    }
}

@media screen and (max-width:369px) {
    h1{
        font-size: 29px;
    }
    #nombre{
        font-size: 19px;
    }
    
    #carrera{
        font-size: 13px;
    }
    .parf-info{
        font-size: 14px;
    }

    .contacto{
        height: 200px;
    }
    .correo, .celular, .linkedin{
        font-size: 14px;
        margin-top: 8%;
    }
}

@media screen and (max-width:342px) {
    .tecn-use span{
        font-size: 10px; /*13*/
    }

    .ver-accion,.ver-codigo{
        font-size: 10px; /*13*/
    }
}

@media screen and (max-width:332px) {
    .title{
        font-size: 29px;
        margin-top: 51%;
    }
    .name{
        font-size: 18px;
        margin-top: 9%;
    }
}

@media screen and (max-width:320px) {
    .correo, .celular, .linkedin{
        margin-top: 10%;
    }
}