*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background: #151320;
    --font-family: Arial;
    --font-size-name: 30px;
    --font-size-career: 20px;
    --font-size-paragraph: 20px;
}

body{
    background-color: var(--background);
}

html{
    scroll-behavior: smooth;
}

i{
    color: white;
}




/*------------------ Boton del menu ----------------*/


button{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 3.5rem;
    border: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 20px 20px;
    gap: 0.65rem; /*0.6rem*/
    cursor: pointer;
    /*border: 1px solid red;*/

    z-index: 5;
    right: 54px;
}

button div{
    background: white;
    height: 4px;
    width: 50%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}

.ani-menu div:first-child{
    transform: rotate(52deg);
    margin-left: 21%;
}

.ani-menu div:nth-child(2){
    opacity: 0;
}

.ani-menu div:last-child{
    transform: rotate(-52deg);
    margin-left: 21%;
}















/*------------------ contenido del menu ----------------*/

header{
    width: 180px;
    height: 330px;
    display: flex;
    position: fixed;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(8px);
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
    right: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in;
    z-index: 4;
}

nav{
    margin-top: 45px;
}

nav ul{
    display: table;
    text-align: center;
    /*border: 1px solid red;*/
}

nav li{
    display: flex;
    flex-direction: column;
}

nav a{
    /*border: 1px solid red;*/
    padding: 10px 15px;
    border-radius: 5px 5px 5px 5px;
    list-style: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: var(--font-family);
}
nav a:hover{
    background-color: black;
    animation: navegador 1s linear infinite;
    transition: 0.3s;
}

.nav-activo{
    transform: translateY(0%);
}

@keyframes navegador{
    0%{
        box-shadow: 0px 0px 1px red;
    }
    10%{
        box-shadow: 0px 0px 13px red;
    }
    100%{
        box-shadow: 0px 0px 1px red;
    }
}
























/* -------------------------------------------------------------------------- */
/* ---------------------- Efecto maquina de escribir ------------------------ */
/* -------------------------------------------------------------------------- */
.title{
    margin-top: 11%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.name{
    margin-top: 3%;
    margin-left: 4%;
}

.maq1,.maq2{
    position: relative;
    z-index: -1;
}

.maq1::after{
    content: "";
    border-left: 3px solid white;
    background-color: var(--background);
    width: 100%;
    height: 100%;
    right: 0;  /*Para que empieze al final del texto*/
    position: absolute;

    animation: maqEsc 3s infinite alternate steps(18),
    parpadeo .5s infinite step-end alternate;
}

.maq2::after{
    content: "";
    border-left: 2px solid white;
    background-color: var(--background);
    width: 100%;
    height: 100%;
    right: 0;  /*Para que empieze al final del texto*/
    position: absolute;

    animation: maqEsc 5s infinite alternate steps(29),
    parpadeo .5s infinite step-end alternate;
}

@keyframes maqEsc{
    from { /*Desde*/
        width: 100%;
    }
    to{ /*Hasta*/
        width: 0;
    }
}

@keyframes parpadeo{
    50% {border-color: transparent}
}

/* -------------------------------------------------------------------------- */
/* ----------------------------- Border Reinbow ----------------------------- */
/* -------------------------------------------------------------------------- */

.bordePhoto{
    width: 200px;
    height: 250px;
    margin: auto;
    /*border: outset 7px red;*/
    border-radius: 60px 0px 60px 0px;
    position: relative;
}

.bordePhoto::before,
.bordePhoto::after{
    content: '';
    position: absolute;
    background: linear-gradient(
        45deg, 
        #fb0094, 
        #0000ff, 
        #00ff00, 
        #ffff00, 
        #ff0000, 
        #fb0094, 
        #0000ff, 
        #00ff00, 
        #ffff00, 
        #ff0000);
    background-size: 400% 400%;
    width: 100%;
    height: 100%;    
    border-radius: 60px 0px 60px 0px;
    animation: animate-blurred 3s ease alternate infinite;
}

.bordePhoto::after{
    filter: blur(20px);
}

@keyframes animate-blurred{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    0%{
        background-position: 0% 50%;
    }
}


/* -------------------------------------------------------------------------- */
/* ---------------------------- Foto de inicio ------------------------------ */
/* -------------------------------------------------------------------------- */

.foto{
    max-height: 350px;
    min-width: 200px;
}

.inicio{ /*div contenedor de todo el inicio*/
    width: 100%;
    height: 100vh;
    display: inline-block;
}

.title,.name{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: monospace;
    /*border: 5px solid red;*/
}


.myImagen{
    width: 200;
    height: 250px;
    /* border: outset 7px red; */
    border-radius: 60px 0px 60px 0px;
    overflow: hidden;
    position: absolute;

    z-index: 1;
}

.myImagen img{
    position: relative;
    top: 50%;
    left: 50%;

    /* mueve la mitad del alto de la imagen hacia arriba */
    /*--------- transform: translate(0%, -50%); ---------*/

    /* mueve la mitad del ancho de la imagen hacia la izquirda */
    /* ------- transform: translate(-50%, 0%); -------- */

    /********* esto centra la imagen dentro del div ********/
    transform: translate(-50%, -50%);
}



































/*-------------- seccion de SOBRE MI ------------*/


h1{
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    margin-top: 10px;
    font-family: var(--font-family);
}

.about{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 20vh);
    grid-template-areas: "cont-foto2 cont-foto2 titulo-about titulo-about titulo-about"
                         "cont-foto2 cont-foto2 nom-car nom-car nom-car"
                         "cont-foto2 cont-foto2 cont-info cont-info cont-info"
                         "cont-foto2 cont-foto2 cont-info cont-info cont-info"
                         "cont-foto2 cont-foto2 cont-info cont-info cont-info";
    
}

.titulo-about{
    grid-area: titulo-about;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-foto2{
    grid-area: cont-foto2;
    /*border: 1px solid red;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.foto2{
    width: 200px;
    height: 250px;
    /*border: 1px solid red;*/

    border-radius: 60px 0px 60px 0px;
    overflow: hidden;
}

.foto2 img{
    position: relative;
    left: -10%;
}

.contacto{
    /*border: 1px solid green;*/
    position: absolute;
    display: flex;
    top: 57%;
    gap: 10px;
    font-size: 20px;
}

.contacto a{
    display: flex;
    width: 35px;
    height: 35px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #fff;
    transition: 1s;
}

.contacto i{
    color: black;
}

.contacto a:hover{
    transform: scale(1.4);
    background-color: #d400d4;
    transition: 1s;
}

.nom-car,.cont-info{
    /*border: 5px solid green;*/
    text-align: center;
    color: white;
    font-family: var(--font-family);
}

.nom-car{
    grid-area: nom-car;
}

#nombre{
    font-size: var(--font-size-name);
}

#carrera{
    font-size: var(--font-size-career);
    color: gray;
}

.cont-info{
    grid-area: cont-info;
    display: flex;
    font-size: var(--font-size-paragraph);
    text-align: justify;
    justify-content: center;
    line-height: 40px;
}

.cont-info span{
    /*border: 1px solid red;*/
    width: 80%;
}

/* -------------------------------------------------------------------------- */
/* ---------------------------- Botón de descarga --------------------------- */
/* -------------------------------------------------------------------------- */
.Cont-descarga{
    cursor:pointer;
    transition: 0.5s;
}

.fa-file-arrow-down{
    font-size: 25px;
}

.btn-style{
    position: relative;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
    font-size: 13px;
    border: 2px solid transparent;
    transition: 0.5s;
    font-family: var(--font-family);
    font-weight: bold;
    gap: 10px;
}

.btn-descarga{
    padding: 20px 30px;
}

.btn-view{
    padding: 10px 20px;
    z-index: 3;
}

.btn-style:hover{
    border: 2px solid #fff;
}

.btn-style::before{
    content: '';
    position: absolute;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: 1s;
}

.btn-descarga::before{
    inset: 0 8px;
}

.btn-view::before{
    inset: 0 5px;
}

.btn-style::after{
    content: '';
    position: absolute;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: 1s;
}

.btn-descarga::after{
    inset: 8px 0;
}

.btn-view::after{
    inset: 5px 0;
}

.btn-descarga:hover::before{
    inset: 0 -12px;
    transform: skewY(15deg);
}

.btn-descarga:hover::after{
    inset: -12px 0;
    transform: skewX(15deg);
}

.btn-view:hover::before{
    inset: 0 5px;
    transform: rotateY(180deg);
}

.btn-view:hover::after{
    inset: 5px 0;
    transform: rotateX(180deg);
}






























/*-------------- seccion de tecnologias ------------*/

.skills,.portafolio{
    width: 90%;
    margin: auto;
    margin-top: 25px;
    /*box-shadow: 0px 0px 10px white;
    border-radius: 15px 15px 15px 15px;*/
}



.skills h1, .portafolio h1, .contacto h1{
    padding-top: 20px;
}

p{
    color: white;
    text-align: center;
}

.cont-skills{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px 20px;
    /*border: 1px solid red;*/
    font-family: var(--font-family);
}

.html,.css,.js,.php,.mysql{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /*border: 1px solid green;*/
}


.tec-html,.tec-css,.tec-js,.tec-php,.tec-mysql{
    font-size: 80px;
    transition: 0.5s;
}

.tec-mysql{
    max-height: 80px;
    min-width: 80px;
}

section div .html .tec-html:hover{/*Se le pone color a cada icono*/
    color: orange;
    transition: 0.5s;
}

section div .css .tec-css:hover{
    color: blue;
    transition: 0.5s;
}

section div .js .tec-js:hover{
    color: yellow;
    transition: 0.5s;
}

section div .php .tec-php:hover{
    color: #7E7EC6;
    transition: 0.5s;
}

/*section div .mysql .tec-mysql:hover{
    background-color: aqua;
    transition: 0.5s;
}*/

/*.cont-skills,.html,.css,.js,.php,.laravel{
    border: 2px solid orange;
}*/































/*.cont-img{
    background: var(--i);
    background-size: cover;
}*/







/*-------------- seccion de portafolio ------------*/



.portafolio{
    padding: 20px 20px;
}

.container{
    /*border: 1px solid red;*/
    position: relative;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.box{
    /*border: 1px solid pink;*/
    position: relative;
    width: 397px;
    height: 220px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stuffed-frame{
    position: absolute;
    inset: 3px;
    background: var(--background);
    z-index: 1;
}

.box-image{
    /*position: relative;*/
    height: 85%;
    /*inset: 15px;*/ 
    /*padding: 15px;*/ /*espacio entre el frame y la imagen*/
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    /*border: 1px solid greenyellow;*/
    z-index: 3;
    overflow: hidden;
    transition: 0.5s;
}

.box::before,
.box::after{
    content: '';
    position: absolute;
    background: linear-gradient(315deg,#00ccff,#d400d4);
    inset: -120px 160px; /*tamaño del color del marco*/
    transition: 5s;
    filter: hue-rotate(calc(var(--i) * 120deg));
    animation: animate 8s linear infinite;
}

.box::after{
    background: linear-gradient(315deg,#ffeb3b,#e91e63);
    filter: hue-rotate(calc(var(--i) * 120deg));
    animation-delay: -2s;
}

.box:hover:before,
.box:hover:after{
    animation-play-state: paused;
    inset: -120px 140px; /*tamaño del color del marco*/
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.photo-frame{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    z-index: 3;
    pointer-events: none;
}

.box:hover .box-image{
    filter: blur(4px);
    transition: 0.5s;
}

.tecn-use{
    /*border: 1px solid red;*/
    position: relative;
    width: 85%;
    height: 30px;
    position: relative;
    display: flex;
    gap: 20px;
    z-index: 1;
}

/*.cont-portafolios,.cont-img,.tecn-use{
    border: 1px solid blue;
}*/

.port-tec{
    font-size: 20px;
}

.port-mysql{
    max-height: 25px;
    min-width: 25px;
}

.options-port{
    position: absolute;
    /*border: 1px solid greenyellow;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 0;
}

.box:hover .options-port{
    z-index: 3;
}












































/*------------- Responsive ----------------------*/





@media screen and (max-width:1201px) {

}

@media screen and (max-width:1145px) {
   
}

@media screen and (max-width:1024px){

    .btn-menu{
        width: 60px; 
        height: 50px;
        right: 60px;
    }
    .fa-bars{
        font-size: 30px;
    }

    .box{ /*hace más grande la box del proyecto del portafolio*/
        /*border: 1px solid red;*/
        width: 397px;
        height: 250px;
    }

    .content{ /*reduce el tañamo de la imagen*/
        height: 63%;
    }
    .box:hover .content{
        filter: blur(0px);
    }

    .box{
        height: 290px; 
    }

    .box-image{
        height: 67%;
    }

    .options-port{
        position: relative;
        padding-bottom: 15px;
        z-index: 3;
    }
}

@media screen and (max-width:985px) {
    .title{
        margin-top: 15%;
    }
}

@media screen and (max-width:928px) {
    :root{
        --font-size-name: 27px;
        --font-size-career: 18px;
        --font-size-paragraph: 18px;
    }
}


@media screen and (max-width:858px) {
    button{
        width: 4rem;
        height: 3rem;
        gap: 0.55rem; /*0.65rem*/
        right: 49px;
    }
    
    
    header{
        width: 160px;
        height: 300px;
    }
    
    nav{
        margin-top: 40px;
    }
    
    nav a{
        font-size: 22px;
    }


    .title{
        margin-top: 20%;
    }
}

@media screen and (max-width:824px) {
    
}

@media screen and (max-width:742px) {
    h1{
        font-size: 40px;
    }

    :root{
        --font-size-name: 24px;
        --font-size-career: 17px;
        --font-size-paragraph: 17px;
    }
}

@media screen and (max-width:700px) {
    .about{
        grid-template-areas: "titulo-about titulo-about titulo-about titulo-about titulo-about"
                             "cont-foto2 cont-foto2 cont-foto2 cont-foto2 cont-foto2"
                             "cont-foto2 cont-foto2 cont-foto2 cont-foto2 cont-foto2"
                             "cont-foto2 cont-foto2 cont-foto2 cont-foto2 cont-foto2"

                             "nom-car nom-car nom-car nom-car nom-car"
                             "cont-info cont-info cont-info cont-info cont-info"
                             "cont-info cont-info cont-info cont-info cont-info";
    }

    .Cont-descarga{
        top: 75%;
    }

    :root{
        --font-size-name: 30px;
        --font-size-career: 21px;
        --font-size-paragraph: 20px;
    }
    
    .cont-info{
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .contacto{
        top: 61%;
    }
}

@media screen and (max-width:527px) {
    .title{
        margin-top: 28%;
    }
}

@media screen and (max-width:499px) {
    h1{
        font-size: 33px;
    }

    .title{
        margin-top: 35%;
    }
    .foto{
        max-height: 300px;
        min-width: 150px; 
    }
    .name{
        font-size: 20px;
        margin-top: 5%;
    }

    .bordePhoto,.foto2{
        width: 168px;
    }

    .fa-file-arrow-down{
        font-size: 20px;
    }
    
    .btn-descarga{
        padding: 20px 25px;
    }

    .contacto{
        font-size: 18px;
    }

    .contacto a{
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width:480px) {
    .box::before,
    .box::after{
        inset: -120px 140px; /*tamaño del color del marco*/
    }
    
    .box:hover:before,
    .box:hover:after{
        inset: -120px 120px; /*tamaño del color del marco*/
    }
}










@media screen and (max-width:435px) {
    .title{
        margin-top: 40%;
    }

    :root{
        --font-size-name: 21px;
        --font-size-career: 15px;
        --font-size-paragraph: 17px;
    }

    .box::before,
    .box::after{
        inset: -120px 120px; /*tamaño del color del marco*/
    }
    
    .box:hover:before,
    .box:hover:after{
        inset: -120px 100px; /*tamaño del color del marco*/
    }

    .btn-view{
        font-size: 11px;
    }
}

@media screen and (max-width:400px) {
    .title{
        margin-top: 50%;
    }
    
}

@media screen and (max-width:384px) {
    .box::before,
    .box::after{
        inset: -120px 100px; /*tamaño del color del marco*/
    }
    
    .box:hover:before,
    .box:hover:after{
        inset: -120px 80px; /*tamaño del color del marco*/
    }

    .btn-view{
        font-size: 9px;
    }
}

@media screen and (max-width:369px) {
    h1{
        font-size: 29px;
    }

    :root{
        --font-size-name: 19px;
        --font-size-career: 13px;
        --font-size-paragraph: 14px;
    }
}

@media screen and (max-width:342px) {
}

@media screen and (max-width:332px) {
    .title{
        font-size: 29px;
        margin-top: 51%;
    }
    .name{
        font-size: 18px;
        margin-top: 9%;
    }
}

@media screen and (max-width:320px) {
    
}
